
body {background-color: #F7F5EB;
}

hr {
    border-style: dotted none none;
    border-color: #181D31;
    border-width: 10px;
    width: 10%;
}

h1 {color: #678983;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2 {color: #678983;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding-left: 5px;
    line-height: 2.5;
}
h3 {color: #678983;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}